[Desktop Entry]
Version=1.0
Type=Application
Name=RDrive
Comment=Gerenciador de montagem na nuvem (Rclone)
Comment[pt]=Gerenciador de montagem na nuvem (Rclone)
Comment[en]=Cloud mount manager (Rclone)
Exec=rdrive-gui
Icon=rdrive-gui-icon
Terminal=false
Categories=System;Utility;Filesystem;Network;
StartupNotify=true
